<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/facultyIndex.css" />
    <title>Faculty Index</title>
  </head>
  <body>
    <h1>Welcome <%=user%></h1>
    <h3>Fill your Preferences before 9 may 2022.</h3>
    <form action="/faculty/index" method="post">
      <!-- <input type="text" value="NAN" name="name"> -->
      <%for(let i=1; i<=6; i++){%>
      <div class="card">
        <h3>Preference <%=i%></h3>
        <select name="<%=i%>">
          <%for(let x of courses){%>
          <option value="<%=JSON.stringify(x)%>"><%=x["Course"]%></option>
          <%}%>
        </select>
      </div>
      <br />
      <%}%>
      <button type="submit" class="btn-dark big">Submit</button>
    </form>
  </body>
</html>
